body {
	background-image: url("asset/test.png");
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}

header {
	background-color:rgb(70, 110, 255);
	color:white;
	border-style:solid;
	border-width: 5px;;
	border-radius:5px;
	border-color:rgb(255, 255, 255);
	position: fixed;
	margin-right: 5%;
	margin-left: 5%;
	width: 90%;
	text-align:center;
	font-weight: bold;
	display: flex;
	flex-direction: column;
}

#combatLog {
	margin-top : 5px;
	margin-bottom : 5px;
}

#santa{
	position: fixed;
	top:50%;
	left:25%;
}


#santaImg {
	height:192px;
	width:192px;
}


#knutallux {
	position: fixed;
	top:35%;
	left:15%;
}

#knutalluxDeux {
	position: fixed;
	top:65%;
	left:15%;
}

#knutalluxImg, #knutalluxDeuxImg {
	height:180px;
	width:180px;
}

#assaImg, #mageImg, #archerImg{
	height:150px;
	width:150px;
}

#assaHPM, #mageHPM, #archerHPM, #musicienHPM {
	position: relative;
	background-color:rgb(27, 24, 123);
	color:white;
	border-style:solid;
	border-width: 3px;;
	border-radius:5px;
	border-color:wheat;
	text-align: center;
}

#santaHP, #knutalluxHP, #knutalluxDeuxHP {
	position: relative;
	background-color:rgb(27, 24, 123);
	color:white;
	border-style:solid;
	border-width: 3px;;
	border-radius:5px;
	border-color:wheat;
	text-align: center;
	visibility: hidden;
}

#assa {
	position: fixed;
	top:50%;
	right:30%;
}

#mage {
	position: fixed;
	top:30%;
	right:25%;
}

#musicien {
	position: fixed;
	top:70%;
	right:25%;
}

#archer {
	position: fixed;
	top:45%;
	right:12%;
}

#musicienImg, img.templar{
	height:200px;
	width:200px;
}

footer {
	position: fixed;
	bottom: 5%;
	margin-right: 5%;
	margin-left: 5%;
	width : 90%;
	display: flex;
	justify-content: center;
}

#debutround {
	text-align: center;
}

#targetselect {
	position: relative;
	background-color:rgb(27, 24, 123);
	color:white;
	border-style:solid;
	border-width: 3px;;
	border-radius:5px;
	left:5%;
	width:390px;
	text-align: center;
	border-color:wheat;
}

#santaButton {
	color:red;
}

/*.action {
    width: 250px ;
    height: 150px;
    border: 5px solid rgb(106, 0, 255);
    display:flex;
    flex-direction:column;
    justify-content: center;
	align-items: center;
    background-color: #ff0000;
	}*/
