body {
	background-image: url("asset/test.png");
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}

header {
	background-color:rgb(0, 0, 255);
	color:white;
	border-style:solid;
	border-width: 5px;;
	border-radius:5px;
	border-color:rgb(255, 255, 255);
	position: fixed;
	margin-right: 5%;
	margin-left: 5%;
	width: 20%;
	text-align:center;
	font-weight: bold;
	display: flex;
	flex-direction: column;
}

#combatLog {
	margin-top : 5px;
	margin-bottom : 5px;
}

#santa{
	position: fixed;
	top:45%;
	left:25%;
}


#santaImg {
	height:192px;
	width:192px;
}


#knutallux {
	position: fixed;
	top:30%;
	left:18%;
}

#knutalluxDeux {
	position: fixed;
	top:60%;
	left:18%;
}

#knutalluxTrois {
	position: fixed;
	top:45%;
	left:10%;
}

#knutalluxImg, #knutalluxDeuxImg, #knutalluxTroisImg {
	height:180px;
	width:180px;
	
}

#assaImg, #mageImg, #archerImg, #musicienImg{
	height:150px;
	width:150px;
}

#assaHPM, #mageHPM, #archerHPM, #musicienHPM {
	position: relative;
	background-color:rgb(0, 0, 255);
	color:white;
	border-style:solid;
	border-width: 3px;;
	border-radius:5px;
	border-color:rgb(255, 255, 255);
	text-align: center;
}

#santaHP, #knutalluxHP, #knutalluxDeuxHP, #knutalluxTroisHP {
	position: relative;
	background-color:rgb(0, 0, 255);
	color:white;
	border-style:solid;
	border-width: 3px;;
	border-radius:5px;
	border-color:rgb(255, 255, 255);
	text-align: center;
	visibility: hidden;
}

#assa {
	position: fixed;
	top:45%;
	right:30%;
}

#mage {
	position: fixed;
	top:30%;
	right:20%;
}

#musicien {
	position: fixed;
	top:60%;
	right:20%;
}

#archer {
	position: fixed;
	top:45%;
	right:10%;
}


footer {
	position: fixed;
	bottom: 5%;
	margin-right: 5%;
	margin-left: 5%;
	width : 90%;
	display: flex;
	justify-content: space-between;
}

#debutround {
	text-align: center;
	
}

#targetselect {
	position: relative;
	background-color:rgb(0, 0, 255);
	color:white;
	border-style:solid;
	border-width: 3px;;
	border-radius:5px;
	left:5%;
	width:90px;
	height: 90px;
	display: flex;
	flex-direction: column;

	text-align: center;
	border-color:rgb(255, 255, 255);
}

#santaButton {
	color:red;
}

#action {
    width: 150px ;
    height: 150px;
    border: 5px solid rgb(255, 255, 255);
    display:flex;
    flex-direction:column;
    justify-content: center;
	align-items: center;
    background-color: rgb(0, 0, 255);
	}
